.calendar th{
  background-color:#534aff;
  color:white;
  padding-right:15px;
  text-align:center;

}
.calendarHeading{
  background-color:#534aff;
  color:white;
  height:100px;
}


.calendar td{
  text-align: center;
}

.calendar button:hover{
  background-color:#534aff2a;
}

.calendar tr{
  background-color:white;
}